<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeviceId" version="5.1.1" targetFramework="net461" />
  <package id="Meziantou.Framework.Win32.CredentialManager" version="1.3.6" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.6" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Serilog" version="2.9.0" targetFramework="net461" />
  <package id="Serilog.Filters.Expressions" version="2.1.0" targetFramework="net461" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net461" />
  <package id="SerilogMetrics" version="2.1.0" targetFramework="net461" />
  <package id="Superpower" version="2.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
</packages>